body {
  font-family: 'Lato', sans-serif;
  color: #477784;
  font-weight: 300;
}

.text-muted {
  color: #5C5B85;
}

.text-thin {
  font-weight: 100;
}

.title-super {
  font-size: 40px;
}

.my_photo {
  margin-top: 20px;
  cursor: pointer;
}

.cursor {
  cursor: pointer;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
  cursor: pointer;
}


.column-item {
  display: flex;        /* Lay out each item using flex layout */
  flex-flow: column;   /* Lay out item’s contents vertically  */
}
.column-item > img {
   margin-top: auto; /* Center the image cross-wise (horizontally)         */
}

.column-item > div {
  margin-top: auto;     /* Auto top margin pushes button to bottom */
}

.display-flex {
  display: flex;        /* Flex layout so items have equal height  */
}

.hidden {
  display: none;
}